{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - NoteZilla</title>
    <link rel="stylesheet" href="{%static 'css/login.css'%}" />
    <link rel="shortcut icon" href="{%static 'images/fav.png'%}" type="image/x-icon">

</head>

<body>

    <div class="login-container">
        <div class="login-box">
            <a class="logo" href="/"
                style="text-decoration: none; display: flex; align-items: center; justify-content: center; gap: 12px; cursor: pointer;">
                <img src="{%static 'images/fav.png'%}" style="width: 35px;">NoteZilla</a>
            <h2>Sign in to your account</h2>
            {%if invalid_user%}
            <p style="margin-bottom: 20px; color: rgb(211, 57, 57);">Uh Oh! Seems like you don't have an account
                registered with us,
                create a new
                account first.</p>
            {%endif%}
            <form action="#" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" required placeholder="Steve Jobs" />
                </div>

                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" name="passwd" id="password" required placeholder="••••••••" />
                </div>

                <button type="submit" class="btn">Login</button>
            </form>

            <p class="footer-text">Don't have an account? <a href="/register">Sign up</a></p>
        </div>
    </div>

</body>

</html>
